<div class="container-fluid" style="min-height: 900px; margin-top:700px;">
    <section id="p_cryptocurrency" class="atf-section-padding">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-sm-3">

                </div>
<div class="col-sm-6">
            <div class="card p-4" style="min-height: 400px;"> 
        <div class="row">
          <div class="col-lg-12 col-xl-12">
          <div class="row">                
            <div class="col-sm-12">           
            <h3 style="margin-top:30px;">Add Record to Database</h3>
            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="address_area">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="padding-bottom:0px;"> 
                            <div class="form-group" id="picker">
                    <div class="row contact-information" id="picker">
                        <div id="picker">
                            <label>Entry Date:</label>
                            <input id="pick" [(ngModel)]="formData.ENTRY_DATE" style="background-color: white" class="flatpickr flatpickr-input form-control" type="text" data-id="datetime">
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                  <div class="row contact-information">
                    <div class="col-lg-12 col-md-12 col-12">
                      <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="padding-bottom:0px;"> 
                          <div class="form-group">
                              <label>Building Type:</label>
                              <select type="text" [(ngModel)]="formData.BUILDING_TYPE" name="BUILDING_TYPE" class="form-control" required>
                                <option value="">-- Select a Building Type --</option>
                                <option value="1">Type 1 Building</option>
                                <option value="2">Type 2 Building</option>      
                                <option value="0">Type 3 Building</option> 
                                <option value="Other">Other</option>                        
                              </select>
                          </div>
                      </div>
                    </div>
                  </div> 
                  <div *ngIf="formData.BUILDING_TYPE=='0'" class="row contact-information">
                    <div class="col-lg-12 col-md-12 col-12">
                      <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="padding-bottom:0px;"> 
                          <div class="form-group">
                              <label>Building Number:</label>
                              <input type="text" [(ngModel)]="formData.BUILDING_NBR" name="BUILDING_NBR" class="form-control" required>
                          </div>
                      </div>
                    </div>
                  </div> 
                  <div *ngIf="formData.BUILDING_TYPE=='0'" class="row contact-information">
                    <div class="col-lg-12 col-md-12 col-12">
                      <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="padding-bottom:0px;"> 
                          <div class="form-group">
                              <label>Other Building Type:</label>
                              <input type="text" [(ngModel)]="formData.OTHER_TYPE" name="OTHER_TYPE" class="form-control" required>
                          </div>
                      </div>
                    </div>
                  </div>                
                  <div class="row contact-information">
                    <div class="col-lg-12 col-md-12 col-12">
                      <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="padding-bottom:0px;"> 
                          <div class="form-group">
                              <label>Building Name:</label>
                              <input type="text" [(ngModel)]="formData.FACILITY_NAME" name="usertag" class="form-control" required>
                          </div>
                      </div>
                    </div>
                  </div>                
                  <div class="row contact-information">
                    <div class="col-lg-12 col-md-12 col-12">
                      <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="padding-bottom:0px;"> 
    {{ error_message }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <span class="atf-contact-btn atf-download-btn text-center">
                  <button (click)="postData()" type="submit" class="btn btn-secondary"><span>Save Record</span></button>
              </span> 
          </div>                                      
        </div> 
    </div>
    </div>
    <div class="col-sm-4">   
    </div>
    </div>
      </div> 
    </div>
      </div> 
      </div>
    </section>
    </div>
    