<div class="container-fluid" style="background-color: black;">
    <div class="row py-5">
        <div class="col-12" style="text-align: center;">
            <font style="color:white; font-size: 14px;">Plugin Links: <a style="color: white; text-decoration: underline;" href="http://get.adobe.com/flashplayer/">Adobe Flash</a> | <a style="color: white; text-decoration: underline;" href="http://get.adobe.com/reader/">Adobe Reader</a> | <a style="color: white; text-decoration: underline;" href="http://www.microsoft.com/en-us/download/">Microsoft Word</a> | <a style="color: white; text-decoration: underline;" href="http://www.microsoft.com/en-us/download/">Microsoft Excel</a></font>
        </div>
    </div>
</div>
 