<header>
    <nav class="navbar navbar-navs navbar-expend navbar-expand-md fixed-top" id="menu-top" style="background-color: #142041;">
      <div class="container">
          <img src="assets/img/seal_DHS.png">
        <a class="navbar-brand" href="index.html" style="color:white">Federal Protective Service<br>MIST 2.0</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarDefault">
          <ul class="navbar-nav">
            <li class="menu-nav"><a class="nav-link page-scroll active" href="/today.asp">Home</a></li>
            <li class="menu-nav"><a class="nav-link page-scroll" href="#cryptocurrency">Facility Search</a></li>
            <li class="menu-nav"><a class="nav-link page-scroll" href="#atf-timeline">Asset Search</a></li>
            <li class="menu-nav"><a class="nav-link page-scroll btn atf-themes-btn ml-4 atf-quote purple" href="/today.asp"><span>Logout</span></a></li>
          </ul>
        </div>
      </div> <!--- END CONTAINER -->
    </nav>
  </header>
