
<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

<app-header></app-header>

        <!-- ========== Left Sidebar Start ========== -->
			
<app-vertical-menu></app-vertical-menu>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Dashboard</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Lurid</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <span class="badge badge-soft-primary float-right">Daily</span>
                                        <h5 class="card-title mb-0">Cost per Unit</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                {{ data.cost_per_unit }}
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-muted">{{ data.cost_per_unit_pct }} <i class="mdi mdi-arrow-up text-primary"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress shadow-sm" style="height: 7px;">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ data.cost_per_unit_pct }};"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <span class="badge badge-soft-primary float-right">Per Week</span>
                                        <h5 class="card-title mb-0">Market Revenue</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                {{ data.market_revenue }}
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-muted">{{ data.market_revenue_pct }} <i class="mdi mdi-arrow-down text-danger"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress shadow-sm" style="height: 7px;">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ data.market_revenue_pct }};"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <span class="badge badge-soft-primary float-right">Per Month</span>
                                        <h5 class="card-title mb-0">Expenses</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                {{ data.expenses }}
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-muted">{{ data.expenses_pct }} <i class="mdi mdi-arrow-up text-primary"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress shadow-sm" style="height: 7px;">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ data.expenses_pct }};"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <span class="badge badge-soft-primary float-right">All Time</span>
                                        <h5 class="card-title mb-0">Daily Visits</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                {{ data.daily_visits }}
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-muted">{{ data.daily_visits_pct }} <i class="mdi mdi-arrow-down text-danger"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress shadow-sm" style="height: 7px;">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ data.daily_visits_pct }};"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" style="height:514px;">
                                <div class="card-body">
                                    <div class="dropdown float-right position-relative">
                                        <a href="#" class="dropdown-toggle h4 text-muted" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" class="dropdown-item">Action</a></li>
                                            <li><a href="#" class="dropdown-item">Another action</a></li>
                                            <li><a href="#" class="dropdown-item">Something else here</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li><a href="#" class="dropdown-item">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <h4 class="card-title d-inline-block">Daily Sales</h4>

                                    <div id="chart">
                                        <apx-chart
                                          [series]="chartOptions.series"
                                          [chart]="chartOptions.chart"
                                          [dataLabels]="chartOptions.dataLabels"
                                          [plotOptions]="chartOptions.plotOptions"
                                          [yaxis]="chartOptions.yaxis"
                                          [xaxis]="chartOptions.xaxis"
                                          [fill]="chartOptions.fill"
                                          [title]="chartOptions.title"
                                        ></apx-chart>
                                      </div>

                                    <div class="row text-center mt-4">
                                        <div class="col-6">
                                            <h4>{{ data.total_sales }}</h4>
                                            <p class="text-muted mb-0">Total Sales</p>
                                        </div>
                                        <div class="col-6">
                                            <h4>{{ data.open_campaign }}</h4>
                                            <p class="text-muted mb-0">Open Compaign</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dropdown float-right position-relative">
                                        <a href="#" class="dropdown-toggle h4 text-muted" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" class="dropdown-item">Action</a></li>
                                            <li><a href="#" class="dropdown-item">Another action</a></li>
                                            <li><a href="#" class="dropdown-item">Something else here</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li><a href="#" class="dropdown-item">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <h4 class="card-title d-inline-block">Statistics</h4>

                                    <div id="barChart">
                                        <apx-chart
                                          [series]="barChartOptions.series"
                                          [chart]="barChartOptions.chart"
                                          [dataLabels]="barChartOptions.dataLabels"
                                          [plotOptions]="barChartOptions.plotOptions"
                                          [yaxis]="barChartOptions.yaxis"
                                          [xaxis]="barChartOptions.xaxis"
                                          [fill]="barChartOptions.fill"
                                          [title]="barChartOptions.title"
                                        ></apx-chart>
                                      </div>

                                    <div class="row text-center mt-4">
                                        <div class="col-6">
                                            <h4>{{ data.revenue }}</h4>
                                            <p class="text-muted mb-0">Revenue</p>
                                        </div>
                                        <div class="col-6">
                                            <h4>{{ data.total_offers }}</h4>
                                            <p class="text-muted mb-0">Total Offers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dropdown float-right position-relative">
                                        <a href="#" class="dropdown-toggle h4 text-muted" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" class="dropdown-item">Action</a></li>
                                            <li><a href="#" class="dropdown-item">Another action</a></li>
                                            <li><a href="#" class="dropdown-item">Something else here</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li><a href="#" class="dropdown-item">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <h4 class="card-title d-inline-block">Total Revenue</h4>

                                    <div id="pieChart">
                                        <apx-chart
                                          [series]="pieChartOptions.series"
                                          [chart]="pieChartOptions.chart"
                                          [labels]="pieChartOptions.labels"
                                          [responsive]="pieChartOptions.responsive"
                                        ></apx-chart>
                                      </div>

                                    <div class="row text-center mt-4">
                                        <div class="col-6">
                                            <h4>{{ data.total_revenue }}</h4>
                                            <p class="text-muted mb-0">Total Revenue</p>
                                        </div>
                                        <div class="col-6">
                                            <h4>{{ data.total_open_campaign }}</h4>
                                            <p class="text-muted mb-0">Open Compaign</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->
                    

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Recent Customers</h4>
                                    <p class="card-subtitle mb-4 font-size-13">Transaction period from 21 July to 25 Aug</p>
                                    
                                    <div class="table-responsive">
                                        <table class="table table-centered table-striped table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Location</th>
                                                    <th>Create Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let m of data.recent_customers">
                                                    <td class="table-user">
                                                        <img src="{{ m.avatar }}" alt="table-user" class="mr-2 avatar-xs rounded-circle">
                                                        <a href="javascript:void(0);" class="text-body font-weight-semibold">{{ m.customer }}</a>
                                                    </td>
                                                    <td>
                                                        {{ m.phone }}
                                                    </td>
                                                    <td>
                                                        {{ m.email }} 
                                                    </td>
                                                    <td>
                                                        {{ m.city }}
                                                    </td>
                                                    <td>
                                                        {{ m.date }}
                                                    </td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                        
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Account Transactions</h4>
                                    <p class="card-subtitle mb-4 font-size-13">Transaction period from 21 July to 25 Aug</p>
                                    
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-hover table-centered table-nowrap mb-0">
                                            <tbody>
                                                <tr *ngFor="let m of data.transactions">
                                                    <td>
                                                        <h5 class="font-size-15 mb-1 font-weight-normal">{{ m.cc }}</h5>
                                                        <span class="text-muted font-size-12">{{ m.exp }}</span>
                                                    </td>
                                                    <td>
                                                        <h5 class="font-size-15 mb-1 font-weight-normal">{{ m.amount }}</h5>
                                                        <span class="text-muted font-size-12">Amount</span>
                                                    </td>
                                                    <td>
                                                        <h5 class="font-size-17 mb-1 font-weight-normal"><i class="{{ m.type }}"></i></h5>
                                                        <span class="text-muted font-size-12">Card</span>
                                                    </td>
                                                    <td>
                                                        <h5 class="font-size-15 mb-1 font-weight-normal">{{ m.name }}</h5>
                                                        <span class="text-muted font-size-12">Pay</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2021 © Artfin.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by GexLabs
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>
    